.libs/
.vscode/
autom4te.cache/
build-dir/
conf820.dir/
*~
.#*
*.asc
*.go
*.exe
*.log
*.info
*.tar.gz
*.sig
*.directive
alpaca*
/Makefile
/Makefile.in
/texinfo.tex
/configure
/env
/config.status
/config.log
/aclocal.m4
/pre-inst-env
/missing
/test-driver
/install-sh
/config.h.in
/config.h
/confdefs.h
/stamp-h1
/libtool
